# Importing the Libraries

In [2]:
import pandas as pd
import numpy as np

# Loading the Datasets

In [3]:
credits = pd.read_csv('/home/anandu/Project/Movie Recommendation System/credits.csv')
movies = pd.read_csv('/home/anandu/Project/Movie Recommendation System/movies.csv')

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
movies_new = movies.merge(credits, on='title')
movies_new.head(2) # genres, id, keywords, overview, production_companies, release_date, spoken_languages, tagline, title, vote_average, cast, crew

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
movies_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

## Selecting the columns that we want for a content based recommendation system.

In [8]:
movies = movies_new[['genres', 'id', 'keywords', 'overview', 'production_companies', 'title', 'cast', 'crew']]

In [9]:
movies.head()

,genres,id,keywords,overview,production_companies,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Handling with the Null values

In [10]:
movies.isna().sum()

genres                  0
id                      0
keywords                0
overview                3
production_companies    0
title                   0
cast                    0
crew                    0
dtype: int64

In [11]:
movies.dropna(inplace=True)

/home/anandu/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [12]:
movies.isna().sum()

genres                  0
id                      0
keywords                0
overview                0
production_companies    0
title                   0
cast                    0
crew                    0
dtype: int64

In [13]:
movies.shape

(4806, 8)

In [14]:
movies['genres'][100]

'[{"id": 14, "name": "Fantasy"}, {"id": 18, "name": "Drama"}, {"id": 53, "name": "Thriller"}, {"id": 9648, "name": "Mystery"}, {"id": 10749, "name": "Romance"}]'

### 'ast' is a library used here to convert the above string into a list.

## Here, I took the genres of the film.

In [15]:
import ast

In [16]:
def genre(movie):
    movie = ast.literal_eval(movie)
    lst = []
    for i in movie:
        lst.append(i['name'])
    return lst

In [17]:
movies['genres'] = movies['genres'].apply(lambda x: genre(x))

/tmp/ipykernel_7433/1369114781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: genre(x))

In [18]:
movies.head(1)

,genres,id,keywords,overview,production_companies,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Here, I took the keywords associated with the film.

In [19]:
movies['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [20]:
def keyword(obj):
    obj = ast.literal_eval(obj)
    lst = []
    for i in obj:
        lst.append(i['name'])
    return lst

movies['keywords'] = movies['keywords'].apply(lambda x: keyword(x))

/tmp/ipykernel_7433/1257095734.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: keyword(x))

In [21]:
movies.head(1)

,genres,id,keywords,overview,production_companies,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Here, I took the names of production company of the film.

In [22]:
movies['production_companies'][0]types of

SyntaxError: invalid syntax (2456919905.py, line 1)

In [ ]:
def prod(obj):
    obj = ast.literal_eval(obj)
    lst = []
    for i in obj:
        lst.append(i['name'])
    return lst

movies['production_companies'] = movies['production_companies'].apply(lambda x: prod(x))

In [ ]:
movies.head(1)

In [ ]:
movies.dtypes

In [ ]:
movies.info()

In [ ]:
movies.head(1)

## Here, I took the main casts in the film.

In [ ]:
movies['cast'][0]

In [ ]:
def casts(obj):
    actors = ast.literal_eval(obj)
    num = 0
    lst = []
    for i in actors:
        if num<3:
            lst.append(i['name'])
            num += 1
        else:
            break
    return lst

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x: casts(x))

In [ ]:
movies.head(5)

## Here, I took few crew members associated with the film like Director.

In [ ]:
movies['crew'][2]

In [ ]:
def crews(obj):
    director = ast.literal_eval(obj)
    lst = []
    for i in range(0, len(director)):
        if director[i]['department'] == 'Directing':
            lst.append(director[i]['name'])
            break
    return lst

In [23]:
movies['crew'] = movies['crew'].apply(lambda x: crews(x))

NameError: name 'crews' is not defined

In [ ]:
movies.head(1)

In [ ]:
movies.info()

In [24]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

/tmp/ipykernel_7433/2345467146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [25]:
movies.head(1)

,genres,id,keywords,overview,production_companies,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Removing the spaces of words.
#### Now removing the spaces between the words.
#### converting 'James cameron' to 'Jamescameron' because there might be 'James mangold' in it and our model may #### took both as same. Actually both are different person. Both director's films are different.

In [26]:
def rmv_space(obj):
    lst = [i.replace(' ', '') for i in obj]
    return lst

In [27]:
movies['genres'] = movies['genres'].apply(lambda x: rmv_space(x))

/tmp/ipykernel_7433/1160040537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: rmv_space(x))

In [28]:
movies['keywords'] = movies['keywords'].apply(lambda x: rmv_space(x))

/tmp/ipykernel_7433/3273121898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(lambda x: rmv_space(x))

In [29]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: rmv_space(x))

/tmp/ipykernel_7433/2705710118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['production_companies'] = movies['production_companies'].apply(lambda x: rmv_space(x))

In [30]:
movies['cast'] = movies['cast'].apply(lambda x: rmv_space(x))

/tmp/ipykernel_7433/2379791979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x: rmv_space(x))

In [31]:
movies['crew'] = movies['crew'].apply(lambda x: rmv_space(x))

/tmp/ipykernel_7433/210949876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(lambda x: rmv_space(x))

In [32]:
movies.head(1)

,genres,id,keywords,overview,production_companies,title,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", n, a, m, e, "", :, , "", I, n, g, e, n...",Avatar,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."

# Merging the lists into a single list

In [33]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['production_companies'] + movies['cast'] + movies['crew']

/tmp/ipykernel_7433/3827080996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['production_companies'] + movies['cast'] + movies['crew']

In [34]:
movies.head(1)

,genres,id,keywords,overview,production_companies,title,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", n, a, m, e, "", :, , "", I, n, g, e, n...",Avatar,"[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Action, Adventure, Fantasy, ScienceFiction, c..."

### Got the single list which contain all the tags. So can remove the other unwanted tags.

In [35]:
movies.drop(['genres', 'keywords', 'overview', 'production_companies', 'cast', 'crew'], axis=1, inplace=True)

/home/anandu/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [36]:
movies.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [37]:
movies['tags'] = movies['tags'].apply(lambda x: ' '.join(x))

/tmp/ipykernel_7433/2303228016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x: ' '.join(x))

In [38]:
movies.head()

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [39]:
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

/tmp/ipykernel_7433/3982405354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x: x.lower())

In [40]:
movies.head()

,id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

# Importing nltk
### Importing nltk, an nlp library. I used nltk for stemming and lemmatization here.

In [41]:
import nltk

In [42]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

In [43]:
def lemm(obj):
    lst = []
    for i in obj.split():
        lst.append(ps.stem(i))
    return ' '.join(lst)

In [44]:
movies['tags'] = movies['tags'].apply(lambda x: lemm(x))

/tmp/ipykernel_7433/3007514387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x: lemm(x))

In [45]:
movies.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...

# Vectorizing the words
### There are 4805 movies in it. And we have 5000 word features. so we are fitting a 5000 dimension coordinates along with 4805 vectors of movies in it. every words are each dimensions. and we are calculating the nearest vectors or can say movies by calculating the angle. We can calculate the distance by taking Euclidian distance. But for higher dimensions Euclidian distances can't be accurate. so taking angle is the best choice. We use COSINE distances to find the angles.

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [47]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [48]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [49]:
# cv.get_feature_names()

In [50]:
len(cv.get_feature_names())

5000

In [51]:
movies.shape

(4806, 3)

## distance is the inverse of the similarity
## if distance is less then similarity is higher
## if distance is higher the similarity is less

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

There is also cosine distance

In [53]:
similarity = cosine_similarity(vectors)

In [54]:
cosine_similarity(vectors).shape

(4806, 4806)

# Here, the shape is 4805x4805. which means the similarity between each movies.

In [55]:
similarity[0]

array([1.        , 0.09128709, 0.09128709, ..., 0.04622502, 0.        ,
       0.        ])

## If we take the first row it contains the Similarity of the first movie between every other films. So if we sorted the list in descending order, then we get the maximum similar movies.

### Here, I made a function called recommend for recommending movies. Just need to pass the name of the film. Then it will return the Recommendations.

In [56]:
def recommend(movie):
    movie_index = movies[movies['title'] == movie].index[0]
    similarities = similarity[movie_index]
    sorted_sim = list(enumerate(similarities))
    sorted_sim.sort(reverse=True, key=lambda x:x[1])
    movie_list = sorted_sim[1:6]
    
    lst = []
    for (i, j) in movie_list:
        movie = movies['title'][i]
        lst.append(movie)
    return lst

In [57]:
recommend('Her')

['Eternal Sunshine of the Spotless Mind',
 'The Other Side of Heaven',
 'Betty Fisher and Other Stories',
 "The Maid's Room",
 'The Prisoner of Zenda']

In [58]:
recommend('Eternal Sunshine of the Spotless Mind')

["A Hard Day's Night", 'Nine', 'At First Sight', 'Slackers', 'Two Lovers']

In [59]:
recommend('Criminal')

['The November Man',
 'Double Take',
 'We Have Your Husband',
 'The Interview',
 'xXx']

In [60]:
movies[movies['title'] == 'Mission: Impossible II']

,id,title,tags
213,955,Mission: Impossible II,adventur action thriller terror spain cia heli...

In [61]:
import pickle

## Dumping the similarity and movies dataframe for the deploying process.

In [62]:
pickle.dump(movies.to_dict(), open('movies.pkl', 'wb'))

In [63]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))